<h2>Choix</h2>
<p class="lead">
Vous organiser ou de faire des choix entre amis.
</p>
<p>
Pour vous organiser vous pouvez créer un choix et partager le lien vers
celui-ci avec vos amis.
</p>
<a class="btn btn-primary btn-large" href="/propose">Créer un choix !</a>
